body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient(
    rgb(153, 163, 12),rgb(236, 149, 207), rgb(153, 163, 15)
  );background-size: cover;
  background-position: center;

}.head{
text-align: center;
border: 2px solid green;
background-color: rgb(47, 80, 62);
color:white;
margin-right: 35%;
margin-left: 35%;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-style: normal;
font-size: large;
margin-top: 1%;
}.submit{
  margin-left: 1%;
  background-color: rgb(14, 59, 14);
  color: white;
  width: 20%;
  height: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}.modal-body, .overlay{
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}.overlay{
  background-color: rgb(49,49,49,0.8);
}.content{
  position: absolute;
  top: 70px;
  left: 90px;
  transform: translate(-50%,-50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px,28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}.modal-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 7px;
  background-color: rgb(150, 235, 150) ;
}
.field{
  margin-right: 35%;
  margin-left: 35%;
  background-color: rgb(101, 143, 106);
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  font-weight: 600;
}.label{
  color: green;
  margin-right: 1%;
  font-weight: 600;
  font-family: sans-serif;
}.btn{ font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 6px;
  margin-top: 8%;
  cursor: pointer;

}label{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;

}.spans{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}.alert{
color: red;
}
.App{
  background-color:  rgb(141, 192, 141);
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 3%;
  padding: 0px,60px;
align-content: center;
align-items: center;  
  cursor: pointer;
  margin-bottom: 2%;
}


.form{
  margin-top: 2%;
  
}.form>input{
  margin: 2%;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}